#animation {
    position: relative;
    display: none;
    width: 100%;
    height: 70vh;
    text-align: center;
    justify-content: center;
    padding: 100px auto;
    background: rgba(100, 255, 255, .6);
}

#animation h3 {
    margin: 30px auto;
}

#animation p {
    font-size: 24px;
    font-weight: 100;
    padding: 100px;
    color: #a62f07;
}

#animation .submit {
    width: 150px;
    margin: auto 500px;
}

@keyframes logo-p {
    0% {
        transform: rotateY(30deg);
    }
    /* 12.5% {
        transform: rotateY(60deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    37.5% {
        transform: rotateY(120deg);
    }
    50% {
        transform: rotateY(150deg);
    }
    62.5% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(210deg);
    }
    87.5% {
        transform: rotateY(240deg);
    } */
    100% {
        transform: rotateY(360deg);
    }
}