* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3::before {
    content: " ";
    width: 17.5%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 560px;
    background: rgb(30, 152, 176);
}

h3::after {
    content: " ";
    width: 10%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 610px;
    background: rgba(255, 255, 255, .7);
}

#home {
    position: relative;
    display: none;
    width: 100%;
    flex-direction: column;
}

#home .navbar {
    position: relative;
    width: 100%;
    height: 50px;
    display: none;
    flex-direction: row;
    background: rgba(255, 255, 255, .4);
}

#home .navbar:hover {
    background: rgba(255, 255, 255, .9);
}

#home .home-logo {
    position: relative;
    top: -15px;
    margin: auto 55px;
    animation: logo-p 5s infinite;
    color: rgb(18, 142, 243);
    font-size: 40px;
}

#home .nick {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    position: relative;
    top: -20px;
    right: 100px;
    justify-content: center;
}

.nav i {
    position: relative;
    top: 25px;
    font-size: 24px;
    display: none;
}

#home a {
    text-decoration: none;
    margin: 25px;
    color: #111;
}

.span:after {
    content: " ";
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5px;
    width: 100%;
    height: 1.25px;
    background: rgb(31, 91, 165);
}

#home .navHome {
    display: none;
}

#home .home-field {
    width: 100%;
    position: relative;
    flex-direction: column;
}

.main-feild {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: row;
    background: rgba(100, 255, 255, .6);
}

.field-left {
    width: 45%;
    position: relative;
    top: 100px;
    justify-content: center;
    left: 100px;
}

.field-left p {
    position: relative;
    left: 15px;
    justify-content: center;
}

.submit {
    width: 20%;
    height: 40px;
    color: rgb(30, 152, 176);
    background: rgba(255, 255, 255, .1);
    position: absolute;
    margin-left: 15px;
    justify-content: center;
    text-align: center;
    border-left: 1px solid rgb(30, 152, 176);
    border-right: 1px solid rgb(30, 152, 176);
    border-top: 1px solid rgb(30, 152, 176);
}

.submit a {
    position: relative;
    top: 4px;
}

.submit::before {
    content: "";
    display: flex;
    position: relative;
    left: 80%;
    top: -1px;
    bottom: 0px;
    width: 25px;
    height: 1px;
    background: #ddd;
}

.submit::after {
    content: " ";
    display: flex;
    position: relative;
    top: 5px;
    width: 120%;
    height: 1px;
    background: rgb(30, 152, 176);
}

.submit:hover {
    background: #c0c0c0;
    cursor: pointer;
}

.field-right {
    width: 45%;
    position: relative;
    top: 50px;
}

.field-right img {
    margin-left: 40%;
    width: 55%;
    height: 350px;
}

.information {
    width: 100%;
    height: 940px;
    position: relative;
    margin-top: 500px;
}

.information h3 {
    position: relative;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

.information p {
    position: relative;
    padding: 5px 55px;
    text-align: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 80%;
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home .row {
    width: 30%;
    height: 350px;
    margin: 15px;
    justify-content: center;
    text-align: center;
    background: #fff;
    border: 1px solid #999;
    border-radius: 15px;
}

#home .row .row-title-name {
    position: relative;
    top: 15px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

#home .row p {
    position: relative;
    top: 15px;
}

#home .row i {
    font-size: 72px;
    color: rgb(30, 152, 176);
}

#home .row i:hover {
    color: rgba(30, 152, 176, .5)
}

#home .row:hover {
    content: " ";
    height: 350px;
    margin: 15px;
    position: relative;
    background: url(../img/Atom.webp);
    background-position: top top;
    background-repeat: no-repeat;
}

#home .news {
    width: 100%;
    height: 750px;
    position: relative;
    background: rgba(100, 255, 255, .6);
    margin-top: 25px;
}

#home .slides {
    display: flex;
    flex-direction: row;
    height: 500px;
    position: relative;
}

.controller {
    width: 100%;
    height: 475px;
    position: absolute;
    margin-top: 10px;
    display: flex;
    background: rgba(255, 255, 255, .6);
    font-size: 210px;
    color: rgba(12, 4, 4, 0.4);
}

.controller:hover {
    color: rgba(12, 4, 4, 0.7);
}

.controller .fa-chevron-left {
    position: relative;
    left: 1px;
    padding-top: 150px;
}

.controller .fa-chevron-right {
    position: relative;
    left: 1030px;
    padding-top: 150px;
}

#home .news .container {
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

#home .news .row {
    position: absolute;
    margin: 0px 50px;
    width: 90%;
    height: 500px;
}

#home .news .row img {
    height: 100%;
}

#home .plan {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 800px;
    border: 1px solid #000;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

#home .plan h3 {
    position: relative;
    padding: 25px;
    left: 550px;
    text-align: center;
    text-transform: uppercase;
}

#home .plan h3::before {
    content: " ";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 0px;
    background: rgb(30, 152, 176);
}

#home .plan h3::after {
    content: " ";
    width: 70%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 35px;
    background: rgba(255, 255, 255, .7);
}

#home .plan-left {
    position: absolute;
    width: 55%;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
}

#home .left {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -10px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

#home .left a {
    text-align: center;
}

#home .left a:hover {
    background: rgba(42, 36, 36, 0.05);
}

#home .right {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    z-index: 9999;
}

#home .right p {
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 37px;
    font-size: 16px;
    top: -15px;
}

#home .plan .icons {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 5px;
    left: 5px;
    font-size: 26.5px;
    color: rgb(30, 152, 176);
}

#home .plan .icons i {
    margin-top: 50px;
}

#home .plan .img {
    width: 100%;
    height: 250px;
    background: #444;
    border-radius: 15px;
}

#home .plan-right {
    position: relative;
    top: 85px;
    left: 450px;
    width: 47.5%;
    height: 390px;
    background: rgba(42, 36, 36, 0.05);
    border-radius: 25px;
}

#home .plan-right img {
    height: 390px;
    width: 100%;
    border-radius: 25px;
}

@media(max-width:1089px) {
    h3::before {
        content: " ";
        width: 80%;
        height: 1px;
        position: absolute;
        top: 55px;
        left: 20px;
        background: rgb(30, 152, 176);
    }
    h3::after {
        content: " ";
        width: 40%;
        height: 1px;
        position: absolute;
        top: 55px;
        left: 57.5px;
        background: rgba(255, 255, 255, .7);
    }
    #home .span {
        width: 100%;
        height: 50px;
        display: none;
    }
    #home .home-logo {
        top: -15px;
        margin: auto 55px;
        font-size: 36px;
    }
    .nav i {
        position: relative;
        top: 5px;
        left: 30px;
        font-size: 24px;
        display: flex;
    }
    .main-feild {
        position: absolute;
        width: 100%;
        height: 520px;
        flex-direction: column;
    }
    .field-right {
        width: 100%;
        position: relative;
        top: 50px;
    }
    .field-right img {
        margin-left: 5%;
        width: 90%;
        height: 400px;
    }
    .field-left {
        width: 100%;
        top: 100px;
        justify-content: center;
        left: 10px;
        font-size: 16px;
    }
    .left-info {
        display: none;
    }
    .information {
        width: 100%;
        height: 940px;
    }
    .information h3 {
        position: absolute;
        top: 20px;
        left: 22.5%;
        text-align: center;
        text-transform: uppercase;
    }
    .information h3::after {
        left: 30%;
    }
    .information p {
        position: relative;
        top: 80px;
        text-align: center;
        padding: 0;
    }
    .container {
        width: 90%;
        height: 750px;
    }
    #home .row {
        position: relative;
        top: 65px;
        width: 100%;
        height: 350px;
        margin-bottom: 10px;
    }
    #home .row .row-title-name {
        position: relative;
        top: 5px;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
    }
    #home .row p {
        position: relative;
        top: 15px;
    }
    #home .news {
        width: 100%;
        height: 500px;
        position: relative;
        background: rgba(100, 255, 255, .6);
        margin-top: 1600px;
    }
    #home .news h3 {
        position: absolute;
        top: -10px;
        left: 17.5%;
    }
    #home .news h3::before {
        left: 10%;
    }
    #home .news h3:after {
        left: 30%;
    }
    #home .news p {
        top: 55px;
    }
    #home .slides {
        display: flex;
        flex-direction: row;
        height: 500px;
        position: relative;
    }
    .controller {
        display: none;
    }
    #home .news .container {
        height: 400px;
    }
    #home .news .row {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 400px;
        border: 0px;
        border-radius: 0px;
        left: 0px;
        background: #fff;
    }
    #home .news .row img {
        position: relative;
        height: 100%;
    }
    #home .plan {
        width: 97%;
        height: 500px;
        margin-top: 2000px;
        border: 1px solid #000;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
    }
    #home .plan h3 {
        position: relative;
        padding: 10px;
        left: 5%;
        text-align: center;
        text-transform: uppercase;
    }
    #home .plan h3::before {
        content: " ";
        width: 40%;
        height: 1px;
        position: absolute;
        top: 45px;
        left: 30%;
        background: rgb(30, 152, 176);
    }
    #home .plan h3::after {
        content: " ";
        width: 20%;
        height: 1px;
        position: absolute;
        top: 45px;
        left: 40%;
        background: rgba(255, 255, 255, .7);
    }
    #home .plan-left {
        position: absolute;
        width: 100%;
        margin-top: 75px;
        display: flex;
        flex-direction: row;
    }
    #home .left {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -10px;
        font-size: 16px;
        text-align: center;
        justify-content: center;
    }
    #home .left a {
        position: relative;
        top: 5px;
        text-align: center;
        margin-top: 29px;
    }
    #home .left a:hover {
        background: rgba(42, 36, 36, 0.05);
    }
    #home .right {
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        padding: 0px;
        z-index: 9999;
    }
    #home .right p {
        position: relative;
        margin-top: 25px;
        font-size: 12px;
        top: -3px;
    }
    #home .plan .icons {
        position: relative;
        display: flex;
        flex-direction: column;
        top: -25px;
        left: -7px;
        font-size: 28px;
        color: rgb(30, 152, 176);
    }
    #home .plan .icons i {
        margin-top: 50px;
    }
    #home .plan-right {
        display: none;
    }
}