* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    position: relative;
    display: none;
    width: 100%;
    min-height: 1390px;
    background: #fff;
}

#home .field {
    width: 100%;
}

#home .navbar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, .4);
    position: relative;
}

#home .navbar:hover {
    background: rgba(255, 255, 255, .6)
}

#home .home-logo {
    position: relative;
    top: -15px;
    margin: auto 55px;
    animation: logo-p 5s infinite;
    color: rgb(18, 142, 243);
    font-size: 40px;
}

#home .fa-f {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    position: relative;
    top: -20px;
    right: 100px;
    justify-content: center;
}

#home a {
    text-decoration: none;
    margin: 25px;
    color: #111;
}

#home .span:after {
    content: " ";
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5px;
    width: 100%;
    height: 1.25px;
    background: rgb(31, 91, 165);
}

#home .navHome {
    display: none;
}

.home-main-feild {
    position: relative;
    z-index: 9999;
    width: 100%;
    height: 500px;
    display: flex;
    background: rgba(100, 255, 255, .6);
}

.field-left {
    width: 45%;
    position: relative;
    top: 100px;
    justify-content: center;
    left: 100px;
}

#home .submit {
    width: 20%;
    height: 40px;
    color: rgb(30, 152, 176);
    background: rgba(255, 255, 255, .1);
    position: absolute;
    justify-content: center;
    text-align: center;
    border-left: 1px solid rgb(30, 152, 176);
    border-right: 1px solid rgb(30, 152, 176);
}

#home .submit a {
    position: relative;
    top: 4px;
}

#home .submit:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, .3);
}

#home .submit::before {
    content: "";
    display: flex;
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 85px;
    height: 1px;
    background: rgb(30, 152, 176);
}

#home .submit::before:hover {
    animation: btnBefore 5s ease;
}

@keyframes btnBefore {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(100px);
    }
}

#home .submit::after {
    content: " ";
    display: flex;
    position: relative;
    top: 5px;
    width: 120%;
    height: 1px;
    background: rgb(30, 152, 176);
}

#home .submit::after:hover {
    animation: btnAfter .5s ease;
}

@keyframes btnAfter {
    0% {
        width: 0%;
    }
    100% {
        width: 120%;
    }
}

#home .submit:hover {
    background: #c0c0c0;
}

.field-right {
    width: 45%;
    position: relative;
    top: 50px;
}

.field-right img {
    margin-left: 40%;
    width: 55%;
    height: 350px;
}

#home .information {
    width: 100%;
    height: 940px;
}

#home .information h3 {
    position: relative;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

#home .information p {
    position: relative;
    padding: 5px 55px;
    text-align: center;
    justify-content: center;
}

#home .information h3::before {
    content: " ";
    width: 17.5%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 560px;
    background: rgb(30, 152, 176);
}

#home .information h3::after {
    content: " ";
    width: 10%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 610px;
    background: rgba(255, 255, 255, .7);
}

#home .container {
    position: relative;
    width: 80%;
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home .row {
    width: 30%;
    height: 350px;
    margin: 15px;
    justify-content: center;
    text-align: center;
    background: #fff;
    border: 1px solid #999;
    border-radius: 15px;
}

#home .row .row-title-name {
    position: relative;
    top: 15px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

#home .row p {
    position: relative;
    top: 15px;
}

#home .row i {
    font-size: 72px;
    color: rgb(30, 152, 176);
}

#home .row i:hover {
    color: rgba(30, 152, 176, .5)
}

#home .row:hover {
    content: " ";
    height: 350px;
    margin: 15px;
    position: relative;
    background: url(../img/Atom.webp);
    background-position: top top;
    background-repeat: no-repeat;
}

#home .news {
    width: 100%;
    height: 750px;
    position: absolute;
    background: rgba(100, 255, 255, .6);
    margin-top: 25px;
}

#home .slides {
    display: flex;
    flex-direction: row;
    height: 500px;
}

.controller {
    width: 100%;
    height: 475px;
    position: absolute;
    margin-top: 10px;
    display: flex;
    background: rgba(255, 255, 255, .6);
    font-size: 210px;
    color: rgba(12, 4, 4, 0.4);
}

.controller:hover {
    color: rgba(12, 4, 4, 0.7);
}

.controller .fa-chevron-left {
    position: relative;
    left: 1px;
    padding-top: 150px;
}

.controller .fa-chevron-right {
    position: relative;
    left: 1030px;
    padding-top: 150px;
}

#home .news .container {
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

#home .news .row {
    position: absolute;
    margin: 0px 50px;
    width: 90%;
    height: 500px;
}

#home .news .row img {
    height: 100%;
}