* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3::before {
    content: " ";
    width: 17.5%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 560px;
    background: rgb(30, 152, 176);
}

h3::after {
    content: " ";
    width: 10%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 610px;
    background: rgba(255, 255, 255, .7);
}

#home {
    position: relative;
    display: none;
    width: 100%;
    flex-direction: column;
}

#home .navbar {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, .4);
}

#home .navbar:hover {
    background: rgba(255, 255, 255, .6)
}

#home .home-logo {
    position: relative;
    top: -15px;
    margin: auto 55px;
    animation: logo-p 5s infinite;
    color: rgb(18, 142, 243);
    font-size: 40px;
}

#home .nick {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav {
    position: relative;
    top: -20px;
    right: 100px;
    justify-content: center;
}

#home a {
    text-decoration: none;
    margin: 25px;
    color: #111;
}

.span:after {
    content: " ";
    display: flex;
    flex-direction: column;
    position: relative;
    top: -5px;
    width: 100%;
    height: 1.25px;
    background: rgb(31, 91, 165);
}

#home .navHome {
    display: none;
}

#home .home-field {
    width: 100%;
    position: relative;
    flex-direction: column;
}

.main-feild {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 500px;
    display: flex;
    background: rgba(100, 255, 255, .6);
}

.field-left {
    width: 45%;
    position: relative;
    top: 100px;
    justify-content: center;
    left: 100px;
}

.field-left p {
    position: relative;
    left: 15px;
    justify-content: center;
}

.submit {
    width: 20%;
    height: 40px;
    color: rgb(30, 152, 176);
    background: rgba(255, 255, 255, .1);
    position: absolute;
    margin-left: 15px;
    justify-content: center;
    text-align: center;
    border-left: 1px solid rgb(30, 152, 176);
    border-right: 1px solid rgb(30, 152, 176);
}

.submit a {
    position: relative;
    top: 4px;
}

.submit::before {
    content: "";
    display: flex;
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 85px;
    height: 1px;
    background: rgb(30, 152, 176);
}

.submit::after {
    content: " ";
    display: flex;
    position: relative;
    top: 5px;
    width: 120%;
    height: 1px;
    background: rgb(30, 152, 176);
}

.submit:hover {
    background: #c0c0c0;
    cursor: pointer;
}

.field-right {
    width: 45%;
    position: relative;
    top: 50px;
}

.field-right img {
    margin-left: 40%;
    width: 55%;
    height: 350px;
}

.information {
    width: 100%;
    height: 940px;
    position: relative;
    margin-top: 500px;
}

.information h3 {
    position: relative;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

.information p {
    position: relative;
    padding: 5px 55px;
    text-align: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 80%;
    height: 750px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#home .row {
    width: 30%;
    height: 350px;
    margin: 15px;
    justify-content: center;
    text-align: center;
    background: #fff;
    border: 1px solid #999;
    border-radius: 15px;
}

#home .row .row-title-name {
    position: relative;
    top: 15px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

#home .row p {
    position: relative;
    top: 15px;
}

#home .row i {
    font-size: 72px;
    color: rgb(30, 152, 176);
}

#home .row i:hover {
    color: rgba(30, 152, 176, .5)
}

#home .row:hover {
    content: " ";
    height: 350px;
    margin: 15px;
    position: relative;
    background: url(../img/Atom.webp);
    background-position: top top;
    background-repeat: no-repeat;
}

#home .news {
    width: 100%;
    height: 750px;
    position: relative;
    background: rgba(100, 255, 255, .6);
    margin-top: 25px;
}

#home .slides {
    display: flex;
    flex-direction: row;
    height: 500px;
    position: relative;
}

.controller {
    width: 100%;
    height: 475px;
    position: absolute;
    margin-top: 10px;
    display: flex;
    background: rgba(255, 255, 255, .6);
    font-size: 210px;
    color: rgba(12, 4, 4, 0.4);
}

.controller:hover {
    color: rgba(12, 4, 4, 0.7);
}

.controller .fa-chevron-left {
    position: relative;
    left: 1px;
    padding-top: 150px;
}

.controller .fa-chevron-right {
    position: relative;
    left: 1030px;
    padding-top: 150px;
}

#home .news .container {
    height: 500px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

#home .news .row {
    position: absolute;
    margin: 0px 50px;
    width: 90%;
    height: 500px;
}

#home .news .row img {
    height: 100%;
}

#home .plan {
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 800px;
    border: 1px solid #000;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

#home .plan h3 {
    position: relative;
    padding: 25px;
    left: 550px;
    text-align: center;
    text-transform: uppercase;
}

#home .plan h3::before {
    content: " ";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 0px;
    background: rgb(30, 152, 176);
}

#home .plan h3::after {
    content: " ";
    width: 70%;
    height: 1px;
    position: absolute;
    top: 75px;
    left: 35px;
    background: rgba(255, 255, 255, .7);
}

#home .plan-left {
    position: absolute;
    width: 55%;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
}

#home .left {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -10px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

#home .left a {
    text-align: center;
}

#home .left a:hover {
    background: rgba(42, 36, 36, 0.05);
}

#home .right {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    z-index: 9999;
}

#home .right p {
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: 37px;
    font-size: 16px;
    top: -15px;
}

#home .plan .icons {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 5px;
    left: 5px;
    font-size: 26.5px;
    color: rgb(30, 152, 176);
}

#home .plan .icons i {
    margin-top: 50px;
}

#home .plan .img {
    width: 100%;
    height: 250px;
    background: #444;
    border-radius: 15px;
}

#home .plan-right {
    position: relative;
    top: 85px;
    left: 450px;
    width: 47.5%;
    height: 390px;
    background: rgba(42, 36, 36, 0.05);
    border-radius: 25px;
}

#home .plan-right img {
    height: 390px;
    width: 100%;
    border-radius: 25px;
}