* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    position: absolute;
    width: 100%;
    height: 695px;
    background: rgb(124, 189, 243);
    display: flex;
}

#main .main-logo {
    position: relative;
    width: 30%;
    height: 50%;
    background: rgba(255, 255, 255, .5);
    margin: 12.5% 35%;
    font-size: 256px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
    opacity: 1;
}

#main .main-logo:hover {
    min-width: 3%;
    background: rgba(255, 255, 255, .5);
    animation: mainLogo 3s ease;
}

@keyframes mainLogo {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 2;
    }
    50% {
        opacity: 3;
    }
    75% {
        opacity: 2;
    }
    100% {
        opacity: 1;
    }
}

#main .fa-f {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    color: rgba(196, 150, 50, 0.8);
    border-color: #444;
    transition: .5s ease;
    animation: logo-p 5s infinite;
}