* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    position: absolute;
    width: 100%;
    height: 695px;
    background: rgb(124, 189, 243);
}

#main .main-logo {
    position: relative;
    width: 30%;
    height: 50%;
    background: rgba(255, 255, 255, .5);
    margin: 10% 35%;
    font-size: 256px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
}

#main p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: .5s ease;
    animation: main-logo-p .5s infinite;
}