* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    position: absolute;
    width: 100%;
    height: 695px;
    background: rgb(124, 189, 243);
    display: flex;
    justify-content: center;
}

#main .main-logo {
    position: relative;
    width: 30%;
    height: 50%;
    justify-content: center;
    top: 25%;
    background: rgba(255, 255, 255, .5);
    padding: 0px;
    font-size: 256px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    display: flex;
    opacity: 1;
}

#main .main-logo:hover {
    min-width: 0%;
    background: rgba(255, 255, 255, .5);
    animation: mainLogo 3s ease;
}

@keyframes mainLogo {
    0% {
        min-height: 50%;
        min-width: 30%;
        top: 25%;
        background: rgba(255, 255, 255, .9);
    }
    25% {
        min-height: 53%;
        min-width: 31%;
        top: 23%;
        background: rgba(255, 255, 255, .5);
    }
    50% {
        min-height: 55%;
        min-width: 33%;
        top: 21%;
        background: rgba(255, 255, 255, .1);
    }
    75% {
        min-height: 53%;
        min-width: 31%;
        top: 23%;
        background: rgba(255, 255, 255, .5);
    }
    100% {
        min-width: 30%;
        min-height: 50%;
        top: 25%;
        background: rgba(255, 255, 255, .9);
    }
}

#main .fa-f {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 40px;
    color: rgb(18, 142, 243);
    border-color: #444;
    transition: .5s ease;
    animation: logo-p 5s infinite;
    position: relative;
}

#footer {
    position: relative;
    top: 845px;
    width: 100%;
    height: 200px;
    text-align: center;
    background: #999;
    display: none;
}